---
import Header from "@/components/blocks/header";
import Footer from "@/components/blocks/footer";
import Hero from "@/components/blocks/hero";

import Faq from "@/components/blocks/faq";
import CTA from "@/components/blocks/cta";
import "../styles/global.css";
import Features from "@/components/blocks/features";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/zeit-guard/logo.svg" />
    <meta
      name="google-site-verification"
      content="-X3OLTM7SLLAYQcC3q2aUUNgOeYawZrCX7PAFuTtVF0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Zeit Guard</title>
  </head>
  <body class="relative mx-auto dark scroll-smooth">
    <Header client:load />
    <main class="max-sm:p-4">
      <Hero />
      <Features />
      <Faq client:load />
      <CTA />
      <Footer />
    </main>
  </body>
</html>
